/* Normalisation du css */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  transition: .2s ease-in-out;
}

*::selection {
  background-color: var(--PrimaryColor);
}

body {
  background-color: var(--BackgroundColor);
}

/*windown scroll*/
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: 20px;
}

*::-webkit-scrollbar-corner {
  border-radius: 20px;
}

*::-webkit-scrollbar {
  padding: 20px 0px;
  background: var(--fillInput);
  width: 6px;
  height: 6px;
  border-radius: 20px;
}

*::-webkit-scrollbar:hover,
*::-webkit-scrollbar:hover {
  background: var(--fillInput);
}